@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script type="text/javascript">
    window.onload = function () {
        $('#appFace').on('click', function (e) {
            console.log("click success");
        });
        $('#appFace').on('mousemove', function (e) {
            var mX = e.offsetX;
            var mY = e.offsetY;
            $.ajax({
                type: "POST",
                url: "/?handler=MouseMove",
                cache: false,
                dataType: "json",
                data: { x: mX, y: mY },
                async: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (data) {
                    console.log("MouseMove success");
                },
                error: function (xhr) {
                    alert(xhr.toString());
                }
            });
        });
        $('#appFace').hover(
            function (e) {
                $.ajax({
                    type: "POST",
                    url: "/?handler=SetCapture",
                    cache: false,
                    dataType: "json",
                    data: { },
                    async: false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    success: function (data) {
                        console.log("SetCapture success");
                    }
                });
            },
            function (e) {
                $.ajax({
                    type: "POST",
                    url: "/?handler=ReleaseCapture",
                    cache: false,
                    dataType: "json",
                    data: { },
                    async: false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    success: function (data) {
                        console.log("ReleaseCapture success");
                    }
                });
            }
        );
    }
</script>

<div class="text-center">
    <form id="main" method="post">
        @Html.AntiForgeryToken()
        <a href="" data-ajax="true" data-ajax-url="/" data-ajax-update="#panel">Click here</a>
        <div id="panel">
            <img id="appFace" src='@ViewData["ImgSrc"]' />
        </div>
    </form>
</div>
